@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-inter : "Inter", sans-serif;
    --font-pixelify : "Pixelify Sans", sans-serif;

    --color-text: #0B0B0E;
    --color-primary: #8E0038;
    --color-secondary: #88FF3F;
    --color-third: #EDDDCF;
    --color-background: #D9D9D9;
    --color-surface: #FFFFFF;
    --color-footer: #111827;
    --color-mutedText: #808080;
    --color-subText: #4C85FF;
    --color-subPurple: #783FFF;

}

@tailwind base;
@tailwind components;
@tailwind utilities;